
	<!--=============================================
	=            hover banner area         =
	=============================================-->
	
	<div class="hover-banner-area mb-65 mb-md-45 mb-sm-45">
		<div class="container wide">
			<div class="row">
				<div class="col-md-4 mb-30">
					<!--=======  single category  =======-->
									
					<div class="single-category single-category--three">
						<!--=======  single category image  =======-->
						
						<div class="single-category__image single-category__image--three single-category__image--three--creativehome single-category__image--three--banner">
							<img src="assets/assetsprasi/images/banners/banner-1.jpg" class="img-fluid" alt="">
						</div>
						
						<!--=======  single category content  =======-->
						
						<div class="single-category__content single-category__content--three single-category__content--three--creativehome  single-category__content--three--banner mt-25 mb-25">
							<div class="title">
								<p><a href="shop-left-sidebar.html">Zapatos<span>Niñ@s </span></a></p>
								<a href="shop-left-sidebar.html">Comprar</a>
							</div>
	
						</div>
						
						<!--=======  End of single category content  =======-->
						<!--=======  End of single category image  =======-->
						
	
						<!--=======  banner-link  =======-->
						
						<a href="shop-left-sidebar.html" class="banner-link"></a>
						
						<!--=======  End of banner-link  =======-->
					</div>
					
					<!--=======  End of single category  =======-->
				</div>
				<div class="col-md-4 mb-30">
					<!--=======  single category  =======-->
									
					<div class="single-category single-category--three">
						<!--=======  single category image  =======-->
						
						<div class="single-category__image single-category__image--three single-category__image--three--creativehome single-category__image--three--banner">
							<img src="assets/assetsprasi/images/banners/banner-2.jpg" class="img-fluid" alt="">
						</div>
						
						<!--=======  single category content  =======-->
						
						<div class="single-category__content single-category__content--three single-category__content--three--creativehome  single-category__content--three--banner mt-25 mb-25">
							<div class="title">
								<p><a href="shop-left-sidebar.html">Botas  <span>y Botines</span></a></p>
								<a href="shop-left-sidebar.html">Comprar</a>
							</div>
	
						</div>
						
						<!--=======  End of single category content  =======-->
						<!--=======  End of single category image  =======-->
						
	
						<!--=======  banner-link  =======-->
						
						<a href="shop-left-sidebar.html" class="banner-link"></a>
						
						<!--=======  End of banner-link  =======-->
					</div>
					
					<!--=======  End of single category  =======-->
				</div>
				<div class="col-md-4 mb-30">
					<!--=======  single category  =======-->
									
					<div class="single-category single-category--three">
						<!--=======  single category image  =======-->
						
						<div class="single-category__image single-category__image--three single-category__image--three--creativehome single-category__image--three--banner">
							<img src="assets/assetsprasi/images/banners/banner-3.jpg" class="img-fluid" alt="">
						</div>
						
						<!--=======  single category content  =======-->
						
						<div class="single-category__content single-category__content--three single-category__content--three--creativehome  single-category__content--three--banner mt-25 mb-25">
							<div class="title">
								<p><a href="shop-left-sidebar.html">Mocs  <span>Fashion</span></a></p>
								<a href="shop-left-sidebar.html">Comprar</a>
							</div>
	
						</div>
						
						<!--=======  End of single category content  =======-->
						<!--=======  End of single category image  =======-->
						
	
						<!--=======  banner-link  =======-->
						
						<a href="shop-left-sidebar.html" class="banner-link"></a>
						
						<!--=======  End of banner-link  =======-->
					</div>
					
					<!--=======  End of single category  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of hover banner area  ======-->