	<div class="footer-top mb-50 mb-md-80 mb-sm-60" *ngIf="!this._uw.admin">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="footer-top-container">
						<div class="footer-top-single-widget">
							<h4 class="footer-top-widget-title">Cupon de descuentos</h4>
							<div class="content">
								<p>10 % menos a partir de la primera compra</p>
							</div>
						</div>
						<div class="footer-top-single-widget">
							<h4 class="footer-top-widget-title">Devoluciones Grátis</h4>
							<div class="content">
								<p>30 días de garantía de devolución o cambio de articulo</p>
							</div>
						</div>
						<div class="footer-top-single-widget">
							<h4 class="footer-top-widget-title">PAGO SEGURO</h4>
							<div class="content">
								<img src="assets/assetsprasi/images/icons/pay.png" class="img-fluid" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>