 <div class="all-wrapper with-side-panel solid-bg-all">
      
   
      <div class="layout-w">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
          <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="#"><img src="assets/assetsbusak/img/logo.png"><span style="padding-top: 15px;"> <h3 class="text-white">Busak</h3></span></a>
            <div class="mm-buttons">
              <div class="content-panel-open">
                <div class="os-icon os-icon-grid-circles"></div>
              </div>
              <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
              </div>
            </div>
          </div>
          <div class="menu-and-user">
            <div class="logged-user-w">
              <div class="avatar-w">
                <img alt="" src="assets/assetsbusak/img/avatar1.jpg">
              </div>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  Maria Gomez
                </div>
                <div class="logged-user-role">
                  Administrator
                </div>
              </div>
            </div>
            <div class="mobile-menu-magic">
              <h4>
               Actualiza a BusakPro
              </h4>
              <p>
                Emprendedor & PYMES
              </p>
              <div class="btn-w">
                <a class="btn btn-white btn-rounded" href="#" target="_blank">Actualizar ahora</a>
              </div>
            </div>
          </div>
        </div>
        <!--------------------
        END - Mobile Menu
        -------------------->
        <div class="content-w">
          <!--------------------
          START - Top Bar
          -------------------->
          
       
         
          
          <div class="content-i">
      
            <div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">

              <div class="logo-w">
                <a class="logo"  href="#">
                 <img src="assets/assetsbusak/img/logo.png" >
                  <div class="logo-label" style="padding-top: 15px;">
                    <h1>Busak</h1>
                    
                  </div>
                </a>
              </div>

              <div class="logged-user-w avatar-inline">
                <div class="logged-user-i">
                  <div class="avatar-w">
                    <img alt="" src="assets/assetsbusak/img/avatar1.jpg">
                  </div>
                  <div class="logged-user-info-w">
                    <div class="logged-user-name">
                      Erik Perez
                    </div>
                    <div class="logged-user-role">
                      Personal
                    </div>
                  </div>
                  <div class="logged-user-toggler-arrow">
                    <div class="os-icon os-icon-chevron-down"></div>
                  </div>
                  <div class="logged-user-menu color-style-bright">
                    <div class="logged-user-avatar-info">
                      <div class="avatar-w">
                        <img alt="" src="assets/assetsbusak/img/avatar1.jpg">
                      </div>
                      <div class="logged-user-info-w">
                        <div class="logged-user-name">
                          Erik Perez
                        </div>
                        <div class="logged-user-role">
                          Personal
                        </div>
                      </div>
                    </div>
                    <div class="bg-icon">
                      <i class="os-icon os-icon-wallet-loaded"></i>
                    </div>
                    <ul>
                      <li>
                        <a href="#"><i class="os-icon os-icon-mail-01"></i><span>Incoming Mail</span></a>
                      </li>
                      <li>
                        <a href="#"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a>
                      </li>
                      <li>
                        <a href="#"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a>
                      </li>
                      <li>
                        <a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a>
                      </li>
                      <li>
                        <a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>


          
              <h1 class="menu-page-header">
                Page Header
              </h1>
             
              <div class="side-menu-magic">
                <h4>
                 Actualiza a BusakPro
                </h4>
                <p>
                  Emprendedor & PYMES
                </p>
                <div class="btn-w">
                  <a class="btn btn-white btn-rounded" href="#" target="_blank">Actualizar ahora</a>
                </div>
              </div>
              
            </div>
    
            <div class="content-box">
              <div class="row">
                <div class="col-6 col-sm-4 col-xxl-2">
                        <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                          <div class="label">
                           Egresos
                          </div>
                          <div class="value text-danger">
                            -$743
                          </div>
                          <div class="trending trending-down">
                            <span>12%</span><i class="os-icon os-icon-arrow-down6"></i>
                          </div>
                        </a>
                      </div>
                      <div class="col-6 col-sm-4 col-xxl-2">
                        <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                          <div class="label">
                            Ingresos
                          </div>
                          <div class="value">
                            $1395
                          </div>
                          <div class="trending trending-up">
                            <span>12%</span><i class="os-icon os-icon-arrow-up6"></i>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-4 col-xxxl-12">
                        <a class="element-box el-tablo" href="#">
                          <div class="label">
                            Balance
                            <span class="text-success">9%</span>
                            <i class="os-icon os-icon-arrow-up2">
                              
                            </i>                                
                          </div>
                           <div class="value text-primary">
                            652 $
                          </div>
                        </a>
                      </div>  
                <div class="col-sm-8 col-xxxl-6">
                  <div class="element-wrapper">
                      
                    <h6 class="element-header">
                      Historico de movimientos
                    </h6>

                     <div class="element-box" >

                        <div class="os-tabs-w">
                          <div class="os-tabs-controls">
                            <ul class="nav nav-tabs smaller">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab_overview">Egresos</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab_sales">Ingresos</a>
                              </li>
                            </ul>
                            <ul class="nav nav-pills smaller d-none d-md-flex">
                             <!--  <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#">Hoy</a>
                              </li> -->
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#">7 dias</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#">14 dias</a>
                              </li>
                            <!--   <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#">Ult. mes</a>
                              </li> -->
                              <li class="nav-item">
                                 <a href="#"><i class="os-icon os-icon-calendar"></i><span></span></a>
                              </li>
                            </ul>
                          </div>
                           <a class="element-box el-tablo centered trend-in-corner smaller" href="transacciones.html">
                          <div class="tab-content">
                            <div class="tab-pane active" id="tab_overview">
                              <div class="el-tablo bigger  text-danger">
                                <div class="label">
                                  egresos
                                </div>
                                <div class="value">
                                  743 $
                                </div>
                              </div>
                              <div class="el-chart-w">
                                <canvas height="150px" id="lineChart" width="600px"></canvas>
                              </div>
                            </div>
                             <div class="tab-pane" id="tab_sales">
                                <div class="el-tablo bigger text-success">
                                  <div class="label">
                                    Ingresos
                                  </div>
                                  <div class="value">
                                    1395 $
                                  </div>
                                </div>
                                <div class="el-chart-w">
                                  <canvas height="150px" id="liteLineChartV2" width="600px"></canvas>
                                </div>
                              </div>
                            <div class="tab-pane" id="tab_conversion"></div>
                          </div>
                        </a>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 d-xxxl-none">
                  <!--START - Top Selling Chart-->
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      A donde va mi dinero...
                    </h6>
                    <div class="element-box">
                      <div class="el-chart-w">
                        <canvas height="120" id="donutChart" width="120"></canvas>
                        <div class="inside-donut-chart-label">
                          <strong>142</strong><span>Egresos</span>
                        </div>
                      </div>
                      <div class="el-legend condensed">
                        <div class="row">
                          <div class="col-auto col-xxxxl-6 ml-sm-auto mr-sm-auto col-6">
                            <div class="legend-value-w">
                              <div class="legend-pin legend-pin-squared" style="background-color: #6896f9;"></div>
                              <div class="legend-value">
                                <span>Prada</span>
                                <div class="legend-sub-value">
                                  14 Pairs
                                </div>
                              </div>
                            </div>
                            <div class="legend-value-w">
                              <div class="legend-pin legend-pin-squared" style="background-color: #85c751;"></div>
                              <div class="legend-value">
                                <span>Maui Jim</span>
                                <div class="legend-sub-value">
                                  26 Pairs
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-6 d-lg-none d-xxl-block">
                            <div class="legend-value-w">
                              <div class="legend-pin legend-pin-squared" style="background-color: #806ef9;"></div>
                              <div class="legend-value">
                                <span>Gucci</span>
                                <div class="legend-sub-value">
                                  17 Pairs
                                </div>
                              </div>
                            </div>
                            <div class="legend-value-w">
                              <div class="legend-pin legend-pin-squared" style="background-color: #d97b70;"></div>
                              <div class="legend-value">
                                <span>Armani</span>
                                <div class="legend-sub-value">
                                  12 Pairs
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                     

                  </div>


                  <!--END - Top Selling Chart-->
                </div>
             
                <div class="col-sm-12 d-xxxl-none">
                  <div class="element-wrapper">
                    <div class="element-content">
                      <div class="element-wrapper compact pt-4">
                          <div class="element-actions">
                            <form class="form-inline justify-content-sm-end">
                              <label class="smaller" for="">Mostrar:</label><select class="form-control form-control-sm form-control-faded">
                                <option value="Pending">
                                  Egresos
                                </option>
                                <option value="Active">
                                  Ingresos 
                                </option>
                                <option value="Cancelled">
                                  Todo
                                </option>
                              </select>
                            </form>
                          </div>
                          <h6 class="element-header">
                            Movimientos
                          </h6>
                          <div class="element-box-tp">
                            <table class="table table-clean">
                              <tr>
                                <td>
                                  <div class="value">
                                    Tomates
                                  </div>
                                  <span class="sub-value">comida</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-danger">
                                    -$ 0.7
                                  </div>
                                  <span class="sub-value">12 Feb 2018</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="value">
                                    Dunkin Donuts
                                  </div>
                                  <span class="sub-value">Food & Restaurants</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-danger">
                                    -$7.15
                                  </div>
                                  <span class="sub-value">10 Feb 2018</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="value">
                                    Refund from Sephora
                                  </div>
                                  <span class="sub-value">Health & Beauty</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-success">
                                    $128.11
                                  </div>
                                  <span class="sub-value">10 Feb 2018</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="value">
                                    Amazon Store
                                  </div>
                                  <span class="sub-value">Books</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-danger">
                                    -$28.34
                                  </div>
                                  <span class="sub-value">12 Feb 2018</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="value">
                                    Dunkin Donuts
                                  </div>
                                  <span class="sub-value">Food & Restaurants</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-danger">
                                    -$7.15
                                  </div>
                                  <span class="sub-value">10 Feb 2018</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="value">
                                    Refund from Google Store
                                  </div>
                                  <span class="sub-value">Health & Beauty</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-success">
                                    $15.23
                                  </div>
                                  <span class="sub-value">9 Feb 2018</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="value">
                                    Amazon Store
                                  </div>
                                  <span class="sub-value">Books</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-danger">
                                    -$28.34
                                  </div>
                                  <span class="sub-value">8 Feb 2018</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="value">
                                    Dunkin Donuts
                                  </div>
                                  <span class="sub-value">Food & Restaurants</span>
                                </td>
                                <td class="text-right">
                                  <div class="value text-danger">
                                    -$7.15
                                  </div>
                                  <span class="sub-value">8 Feb 2018</span>
                                </td>
                              </tr>
                            </table>
                            <a class="centered-load-more-link" href="#"><span>Load More Messages</span></a>
                          </div>
                        </div>
                    
                     
                    </div>
                  </div>
                </div>
             
               
              </div>
      
           

             
              
           
              <div class="floated-customizer-panel">
                <div class="fcp-content">
                  <div class="close-customizer-btn">
                    <i class="os-icon os-icon-x"></i>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Menu Settings
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Menu Position</label><select class="menu-position-selector">
                          <option value="left">
                            Left
                          </option>
                          <option value="right">
                            Right
                          </option>
                          <option value="top">
                            Top
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Menu Style</label><select class="menu-layout-selector">
                          <option value="compact">
                            Compact
                          </option>
                          <option value="full">
                            Full
                          </option>
                          <option value="mini">
                            Mini
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field with-image-selector-w">
                        <label for="">With Image</label><select class="with-image-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Menu Color</label>
                        <div class="fcp-colors menu-color-selector">
                          <div class="color-selector menu-color-selector color-bright selected"></div>
                          <div class="color-selector menu-color-selector color-dark"></div>
                          <div class="color-selector menu-color-selector color-light"></div>
                          <div class="color-selector menu-color-selector color-transparent"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Sub Menu
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Sub Menu Style</label><select class="sub-menu-style-selector">
                          <option value="flyout">
                            Flyout
                          </option>
                          <option value="inside">
                            Inside/Click
                          </option>
                          <option value="over">
                            Over
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Sub Menu Color</label>
                        <div class="fcp-colors">
                          <div class="color-selector sub-menu-color-selector color-bright selected"></div>
                          <div class="color-selector sub-menu-color-selector color-dark"></div>
                          <div class="color-selector sub-menu-color-selector color-light"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Other Settings
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Full Screen?</label><select class="full-screen-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Show Top Bar</label><select class="top-bar-visibility-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Above Menu?</label><select class="top-bar-above-menu-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Top Bar Color</label>
                        <div class="fcp-colors">
                          <div class="color-selector top-bar-color-selector color-bright selected"></div>
                          <div class="color-selector top-bar-color-selector color-dark"></div>
                          <div class="color-selector top-bar-color-selector color-light"></div>
                          <div class="color-selector top-bar-color-selector color-transparent"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Demo Customizer
              --------------------><!--------------------
              START - Chat Popup Box
              -------------------->
              <div class="floated-chat-btn">
                <i class="os-icon os-icon-mail-07"></i><span>Contacta al desarrollador</span>
              </div>
              <div class="floated-chat-w">
                <div class="floated-chat-i">
                  <div class="chat-close">
                    <i class="os-icon os-icon-close"></i>
                  </div>
                  <div class="chat-head">
                    <div class="user-w with-status status-green">
                      <div class="user-avatar-w">
                        <div class="user-avatar">
                          <img alt="" src="assets/assetsbusak/img/avatar1.jpg">
                        </div>
                      </div>
                      <div class="user-name">
                        <h6 class="user-title">
                          John Mayers
                        </h6>
                        <div class="user-role">
                          Account Manager
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="chat-messages">
                    <div class="message">
                      <div class="message-content">
                        Hi, how can I help you?
                      </div>
                    </div>
                    <div class="date-break">
                      Mon 10:20am
                    </div>
                    <div class="message">
                      <div class="message-content">
                        Hi, my name is Mike, I will be happy to assist you
                      </div>
                    </div>
                    <div class="message self">
                      <div class="message-content">
                        Hi, I tried ordering this product and it keeps showing me error code.
                      </div>
                    </div>
                  </div>
                  <div class="chat-controls">
                    <input class="message-input" placeholder="Type your message here..." type="text">
                    <div class="chat-extra">
                      <a href="#"><span class="extra-tooltip">Attach Document</span><i class="os-icon os-icon-documents-07"></i></a><a href="#"><span class="extra-tooltip">Insert Photo</span><i class="os-icon os-icon-others-29"></i></a><a href="#"><span class="extra-tooltip">Upload Video</span><i class="os-icon os-icon-ui-51"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Chat Popup Box
              -------------------->
            </div>
           
           
            <div class="content-panel compact color-scheme-light">
              <div class="content-panel-close">
                <i class="os-icon os-icon-close"></i>
              </div>
              <div class="element-wrapper">
                <div class="element-actions actions-only">
                  <a class="element-action element-action-fold" href="#"><i class="os-icon os-icon-minus-circle"></i></a>
                </div>
                <h6 class="element-header">
                  Conversor de unidades
                </h6>
                <div class="element-box-tp">
                  <form action="">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="">De</label><select class="form-control">
                            <option>
                              BsS
                            </option>
                            <option>
                              USD
                            </option>
                           
                        
                          </select>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="">A</label><select class="form-control">
                           <option>
                              USD
                            </option>
                            <option>
                              BsS
                            </option> 
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="">Monto</label>
                          <div class="input-group">
                            <input class="form-control" placeholder="Amount..." type="text" value="122340">
                            <div class="input-group-append">
                              <div class="input-group-text">
                                BsS
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="">Precio por USD</label>
                          <div class="input-group">
                            <input class="form-control" type="text" value="22500">
                            <div class="input-group-append">
                              <div class="input-group-text">
                                BsS
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg"><i class="os-icon os-icon-refresh-ccw"></i><span>Convertir</span></button>
                  </form>
                </div>
              </div>
              <div class="element-wrapper compact">
                <div class="element-actions actions-only">
                  <a class="element-action element-action-fold" href="#"><i class="os-icon os-icon-minus-circle"></i></a>

                </div>

                <h6 class="element-header">
                  Valores de referencia
                </h6>

                <div class="element-box-tp">
                   <button class="btn btn-outline-success btn-block btn-lg"><i class="os-icon os-icon-refresh-ccw"></i><span>Actualizar</span></button>
                  <table class="table table-compact smaller text-faded mb-0">
                    <thead>
                      <tr>
                        <th>
                          Ref.
                        </th>
                        <th class="text-center">
                          Fecha
                        </th>
                        <th class="text-right">
                          Precio
                        </th>
                        <th class="text-right">
                          var.
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                         <a class="post-link" href="#">
                          <h6>
                          <span class="text-bright">@dolartoday</span></h6></a>
                        </td>
                        <td class="text-center">
                          01.08
                        </td>
                        <td class="text-right text-bright">
                          $25.38
                        </td>
                        <td class="text-right text-danger">
                          -$1.23
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <a class="post-link" href="#">
                          <h6>
                          <span class="text-bright">@mkcambios</span></h6></a>
                        </td>
                        <td class="text-center">
                          01.07
                        </td>
                        <td class="text-right text-bright">
                          $15.21
                        </td>
                        <td class="text-right text-danger">
                          -$1.13
                        </td>
                      </tr>
                      <tr>
                        <td>
                         <a class="post-link" href="#">
                          <h6>
                          <span class="text-bright">@bolivarcucuta</span></h6></a>
                        </td>
                        <td class="text-center">
                          01.05
                        </td>
                        <td class="text-right text-bright">
                          $17.43
                        </td>
                        <td class="text-right text-danger">
                          -$2.14
                        </td>
                      </tr>
                      <tr>
                        <td>
                           <a class="post-link" href="#">
                          <h6>
                          <span class="text-bright">@dolarbitcoin</span></h6></a>
                        </td>
                        <td class="text-center">
                          01.05
                        </td>
                        <td class="text-right text-bright">
                          $23.18
                        </td>
                        <td class="text-right text-danger">
                          -$3.17
                        </td>
                      </tr>
             
                    </tbody>
                  </table>
                 <!--  <a class="centered-load-more-link smaller" href="#"><span>Load More Transactions</span></a> -->
                </div>
              </div>
            </div>

            
            
          </div>
        </div>
      </div>
      <div class="display-type"></div>
    </div>