	<!--=============================================
	=            Header wide topbar         =
	=============================================-->
	
<header class="header header-offcanvas-about header-sticky">
		
		<!--=======  header bottom  =======-->
		
		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">

					<!--=======  header bottom container  =======-->
					
					<div class="header-bottom-container">
						
						<!--=======  logo with off canvas  =======-->
						
						<div class="logo-with-offcanvas d-flex">
	
							<!--=======  offcanvas about icon  =======-->
							
							<div class="offcanvas-about-icon mr-20 d-none d-lg-block">
								<a href="javascript:void(0)" id="offcanvas-about-icon">
									<i class="ion-navicon"></i>
								</a>
							</div>
							
							<!--=======  End of offcanvas about icon  =======-->
		
							<!--=======  logo   =======-->
							
							<div class="logo">
								<a >
									<img src="assets/assetsprasi/images/logo.png" class="img-fluid" routerLink="">
								</a>
							</div>
							
							<!--=======  End of logo   =======-->
						</div>
						
						<!--=======  End of logo with off canvas  =======-->
	
						<!--=======  header bottom navigation  =======-->
						
						<div class="header-bottom-navigation">
								<div class="site-main-nav d-none d-lg-block">
									<nav class="site-nav center-menu">
										<ul>
											<li class="menu-item-has-children"><a href="shop-left-sidebar.html">Tienda</a>
												<ul class="sub-menu single-column-menu">
                                                    <li><a href="element-recent-products.html">Nueva Coleccion</a></li>
                                                    <li><a href="shop-left-sidebar.html">Botas y Botines</a></li>
                                                    <li><a href="shop-left-sidebar.html">Zapatos</a></li>
                                                    <li><a href="shop-left-sidebar.html">Mocs</a></li>
                                                </ul>
                                            </li>
											<li class="menu-item-has-children"><a href="javascript:void(0)">Prasi</a>
                                                <ul class="sub-menu single-column-menu">
                                                    <li><a routerLink="prasiabout">Quienes somos</a></li>
                                                    <li><a href="faq.html">Tabla de tallas</a></li>
                                                    <li><a routerLink="prasidevoluciones">Devoluciones</a></li>
                                                </ul>
                                            </li>
											<li><a routerLink="prasicontact">Contactanos</a></li>
										</ul>
									</nav>
								</div>
						</div>
						
						<!--=======  End of header bottom navigation  =======-->

						<!--=======  headeer right container  =======-->
						
						<div class="header-right-container">

							<!--=======  header right icons  =======-->
							
							<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
								<!--=======  single-icon  =======-->
								
								<div class="single-icon search">
									<a href="javascript:void(0)" id="search-icon">
										<i class="ion-ios-search-strong"></i>
									</a>
								</div>
								
								<!--=======  End of single-icon  =======-->
								<!--=======  single-icon  =======-->
								
								<div class="single-icon user-login">
									<a href="shop-customer-login.html">
										<i class="ion-android-person"></i>
									</a>
								</div>
								
								<!--=======  End of single-icon  =======-->
								<!--=======  single-icon  =======-->
								
								<div class="single-icon wishlist">
									<a href="javascript:void(0)" id="offcanvas-wishlist-icon">
										<i class="ion-android-favorite-outline"></i>
										<span class="count">2</span>
									</a>
								</div>
								
								<!--=======  End of single-icon  =======-->
								<!--=======  single-icon  =======-->
								
								<div class="single-icon cart">
									<a href="javascript:void(0)" id="offcanvas-cart-icon">
										<i class="ion-ios-cart"></i>
										<span class="count">3</span>
									</a>
								</div>
								<!--=======  End of single-icon  =======-->
							</div>
							<!--=======  End of header right icons  =======-->
		
						</div>
						
						<!--=======  End of headeer right container  =======-->
						
						
					</div>
					
					<!--=======  End of header bottom container  =======-->
					
					<!-- Mobile Navigation Start Here -->

					<div class="site-mobile-navigation d-block d-lg-none">
						<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
							<!--Site Mobile Menu Toggle Start-->
							<button class="dl-trigger hamburger hamburger--spin">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button><!--Site Mobile Menu Toggle End-->
							<ul class="dl-menu dl-menu-toggle">
								
								<li><a href="#">Tienda</a>
									<ul class="dl-submenu">
										<li><a href="element-recent-products.html">Nueva Coleccion</a></li>
                                        <li><a href="shop-left-sidebar.html">Botas y Botines</a></li>
                                        <li><a href="shop-left-sidebar.html">Zapatos</a></li>
                                        <li><a href="shop-left-sidebar.html">Mocs</a></li>
									</ul>
								</li>
								
								<li><a href="#">Prasi</a>
									<ul class="dl-submenu">
										<li><a routerLink="prasiabout">Quienes somos</a></li>
                                        <li><a href="faq.html">Tabla de tallas</a></li>
                                        <li><a routerLink="prasidevoluciones">Devoluciones</a></li>
									</ul>
								</li>
								<li><a routerLink="prasicontact">Contactanos</a></li>
							</ul>
						</div>
					</div>
					<!-- Mobile Navigation End Here -->
					
						
			</div>
		</div>
	
		<!--=======  End of header bottom  =======-->
	</header>
	
	<!--===== End of Header wide topbar ======-->