	<!--=======  about overlay  =======-->
	
	<div class="header-offcanvas about-overlay" id="about-overlay">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">

			<!--=======  close icon  =======-->
			
			<span class="close-icon" id="about-close-icon">
				<a href="javascript:void(0)">
					<i class="ti-close"></i>
				</a>
			</span>
			
			<!--=======  End of close icon  =======-->

			<!--=======  overlay content container  =======-->
			
			<div class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<!--=======  widget wrapper  =======-->

				<div class="widget-wrapper">
					<!--=======  single widget  =======-->
					
					<div class="single-widget">
						<h2 class="widget-title">Prasi, Cueros hechos a mano</h2>
						<p>Somos una empresa que ha llevado su legado por tres generaciones, compartiendo el conocimiento en la fabricación de productos de cuero con técnicas artesanales. </p>
					</div>
					
					<!--=======  End of single widget  =======-->
				</div>
			
				<!--=======  End of widget wrapper  =======-->
	
				<!--=======  contact widget  =======-->
				
				<div class="contact-widget">
					<p class="email"><a href="mailto:contact@Prasi.com">prasicueros@gmail.com</a></p>
					<p class="phone">(+56) 961 417786</p>
	
					<div class="social-icons">
						<ul>
							<li><a href="https://www.facebook.com/" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"  target="_blank" data-tippy-theme = "sharpborder"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/" data-tippy="Instagram" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank" data-tippy-theme = "sharpborder"><i class="fa fa-instagram"></i></a></li>
							
						</ul>
					</div>
				</div>
				
				<!--=======  End of contact widget  =======-->
			</div>
			
			<!--=======  End of overlay content container  =======-->
		</div>
	</div>
	
	<!--=======  End of about overlay  =======-->