<section>
	

    <!--=============================================
    =            shop page content         =
    =============================================-->
    
    <div class="shop-page-wrapper mt-0 mb-100" >
        <div class="container">
            <div class="row">
				<div class="col-lg-12">
					<!--=======  shop product content  =======-->
					
					<div class="shop-product" >
						<div class="row pb-100">
							<div class="col-lg-6 mb-md-70 mb-sm-70">
								<!--=======  shop product big image gallery  =======-->
								
								<div class="shop-product__big-image-gallery-wrapper mb-30">
									
									<div class="shop-product-rightside-icons">
										
										<span class="enlarge-icon">
											<a class="btn-zoom-popup" data-tippy="Click to enlarge" data-tippy-placement="left" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" >
												<i class="ion-android-expand"></i>
											</a>
										</span>
									</div>
									
									<!--=======  End of shop product gallery icons  =======-->

									<div class="shop-product__big-image-gallery-slider" *ngIf="tix">

										<!--=======  single image  =======-->
										
										<div class="single-image" *ngFor="let item of tix.images; index as i" >
											<img src="{{item}}"  *ngIf="i >= 0"class="img-fluid" alt="">
										</div>
										<div class="single-product__floating-badges">
							<span class="hot" *ngIf="tix.discount">-{{tix.discount}}%</span>
							<span class="onsale" *ngIf="tix.new">Nuevo</span>
						</div>
										<!--=======  End of single image  =======-->

										
									</div>

								</div>
								
								<!--=======  End of shop product big image gallery  =======-->

								<!--=======  shop product small image gallery  =======-->
								
								<div class="shop-product__small-image-gallery-wrapper">

									<div class="shop-product__small-image-gallery-slider" *ngIf="tix">

										<!--=======  single image  =======-->
										
										<div class="single-image" *ngFor="let item of tix.images; index as i">
											<img src="{{item}}"  *ngIf="i >= 0" class="img-fluid" alt="">
										</div>
										
										<!--=======  End of single image  =======-->

										
									</div>

								</div>
								
								<!--=======  End of shop product small image gallery  =======-->
							</div>

							<div class="col-lg-6">
								<div class="Prasi-form login-form--register">
								<!--=======  shop product description  =======-->
								<form class="form" [formGroup]="ngFormAddToCar">
									
								
								<div class="shop-product__description" *ngIf="tix">
									<!--=======  shop product navigation  =======-->
									
									<div class="shop-product__navigation">
										
										<a routerLink=""><i class="ion-ios-arrow-thin-left"></i></a>
									</div>
									
									<!--=======  End of shop product navigation  =======-->
			
									

									<!--=======  shop product title  =======-->
									
									<div class="shop-product__title mb-15">
										<h2>{{tix.productName}}</h2>
									</div>
									
									<!--=======  End of shop product title  =======-->
									
								
									
									<div class="shop-product__price mb-30 " *ngIf="tix.category=='Moccs'">
										<span class="main-price discounted precioModificado" *ngIf="tix.discount && !tix.price" [hidden]="seted">$ {{tix.sin[0]}}</span>
									
										<span  class="discounted-price precioModificado" *ngIf="!tix.discount" [hidden]="seted"> Desde $ {{tix.sin[0]}}</span>
									
										<span  class="discounted-price precioModificado" *ngIf="tix.discount" [hidden]="seted"> Desde $ {{tix.sin[0] - (tix.discount * tix.sin[0]/100)}}</span>
										
										<span class="main-price discounted precioModificado" *ngIf="tix.discount && tix.price "  [hidden]="seted">$ {{tix.price}}</span >
									
										<span  class="discounted-price precioModificado" *ngIf="!tix.discount && tix.price" >$ {{tix.price}}</span>
										<span class="discounted-price precioModificado" *ngIf="tix.discount && tix.price "  >${{tix.price - (tix.discount * tix.price/100)}}</span >
									</div>


									<div class="shop-product__price mb-30" *ngIf="tix.category!='Moccs'">
										
										<span class="main-price discounted precioModificado" *ngIf="tix.discount && tix.price "  >$ {{tix.price}}</span >

										<span class="discounted-price precioModificado" *ngIf="tix.discount && tix.price "  >${{tix.price - (tix.price * tix.discount/100)}}</span >
										<span class="discounted-price precioModificado" *ngIf="!tix.discount && tix.price "  >$ {{tix.price }}</span >
									</div>


									<div class="shop-product__short-desc mb-50">
										{{tix.description}}
									</div>
									<div class="shop-product__block__value" *ngIf="tix.category=='Moccs'">
											<div class="shop-product-size-list " >
												
														<!-- <span class="custom-checkbox">
															<input type="checkbox" id="checked" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" 
															>
														</span> -->
													
												
											<div class="sl-box">
														<select class="form-control wide"   id="plants" placeholder="Tipo de planta" [(ngModel)]="plants" [ngModelOptions]="{standalone: true}"
														
														required (click)="setPlants(tix)" style="font-size: 2rem;">
															<option>Sin planta antideslizante</option>
															<option>Con planta antideslizante</option>												
														</select>
													</div>
											</div>
										</div>
									
									<!--=======  End of shop product short description  =======-->
			
									<!--=======  shop product size block  =======-->
									
									<div class="shop-product__block shop-product__block--size mb-20">
										<div class="shop-product__block__title">Talla: </div>
										<div class="shop-product__block__value">
											<div class="shop-product-size-list" *ngIf="tix">
												<div *ngFor="let item of tix.tallas; let i=index;">
													<div  [hidden]="!tix.check[i]" >
														<div class="col-md-1 col-xs-6">
															<ul class="amenities third"  [hidden]="i!=this.indiceTalla">
																<li></li>
															</ul>
														</div>
														<div class="col-md-10 col-xs-6" >
															<span class="single-size" (click)="setSize(tix,i)">{{item}}
															</span>	
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!--=======  End of shop product size block  =======-->
			
									<!--=======  shop product color block  =======-->
									
									<div class="shop-product__block shop-product__block--color mb-40">
										<div class="shop-product__block__title">Color: </div>
										<div class="shop-product__block__value">
											<div class="shop-product-color-list">
												{{tix.color}}
			
												
											</div>
										</div>
									</div>

 
																		<!-- <input type="checkbox" id="i+1">
 -->
																			

									
									<!--=======  End of shop product color block  =======-->
			
									<!--=======  shop product quantity block  =======-->
										
										<div class="shop-product__block shop-product__block--quantity mb-40">
											<div class="shop-product__block__title">Cantidad: </div>
											<div class="shop-product__block__value">
												<div class=" d-inline-block mx-0 pt-0">
													<!-- <input type="text" value="1"> -->
													
													<input type="number" class="form-control" id="cantidad" formControlName="cantidad" value="1">
													



												</div>
											</div>
										</div>





									
									<!--=======  End of shop product quantity block  =======-->
			
									<!--=======  shop product buttons  =======-->
									
									<div class="shop-product__buttons mb-40">
										<a class="Prasi-button Prasi-button--medium" (click)="add(tix)">Agregar al carrito</a>
									 
									
									
										<div class="quick-view-other-info pb-0" style="border-top:0px;">
											<table>
												<tr class="single-info">
													<td class="quickview-title">Codigo: </td>
													<td class="quickview-value">{{tix.codigo}}</td>
												</tr>
												<tr class="single-info">
													<td class="quickview-title">Categoría: </td>
													<td class="quickview-value">
														<a >{{tix.category}}</a>
														
													</td>
												</tr>
												<tr class="single-info">
													<td class="quickview-title">Modelo: </td>
													<td class="quickview-value">
														<a >{{tix.modelo}}</a> 
														
													</td>
												</tr>
												<tr class="single-info">
													<td class="quickview-title">Compartir en: </td>
													<td class="quickview-value">
														<ul class="quickview-social-icons">
															<li><a ><i class="fa fa-facebook"></i></a></li>
															<li><a ><i class="fa fa-instagram"></i></a></li>
															
															
														</ul>
													</td>
												</tr>
											</table>
										</div>
									
									<!--=======  End of other info table  =======-->
									</div>
								</div>
								</form>
							</div>
								<!--=======  End of shop product description  =======-->
							</div>
						</div>

						
					</div>
					
					<!--=======  End of shop product content  =======-->
				</div>
            </div>
        </div>
    </div>
    
    <!--=====  End of shop page content  ======-->
    </section>