   <div class="checkout-page-area mb-130">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="Prasi-form">
						<!-- Checkout Form s-->
						<form action="shop-checkout.html#" class="checkout-form">
							<div class="row row-40">
							  
								
								<div class="col-lg-6 mb-20">
									
									<!-- Billing Address -->
									<div id="billing-form" class="mb-40">
									<h4 class="checkout-title">Cambio de articulos</h4>
									<p align="justify">Para Generar un cambio de producto proceda de la siguiente manera. 1) Medir el pie del niño de acuerdo con nuestra Tabla de Tallas. (En caso de duda siempre elegir una talla más grande.)2) Recuerde que, el elástico mantendrá el calzado en el pie del bebé y tendrá espacio para el crecimiento del pie.
									 Para finalizar llene el siguiente formulario </p>
										
		
										<div class="row">
		
											<div class="col-md-6 col-12 mb-20">
												<label>​NOMBRE*</label>
												<input type="text" placeholder="Nombre completo">
											</div>
		
											<div class="col-md-6 col-12 mb-20">
												<label>TELEFONO*</label>
												<input type="text" placeholder="Numero telefonico">
											</div>
		
											<div class="col-md-12 col-12 mb-50">
												<label>ASUNTO:*</label>
												<input type="text" placeholder="Indicar motivo del cambio">
											</div>
		
											
		
											<div class="col-12 mb-20">
												<div class="check-box">
													<input type="checkbox" id="shiping_address" data-shipping>
													<label for="shiping_address">Aceptar politicas</label>
												</div>
												<div class="check-box">
												<button class="Prasi-button Prasi-button--medium mt-30">Procesar cambio</button>
												</div>
												
											</div>
		
										</div>
		
									</div>
									
								</div>
								
								<div class="col-lg-6 mb-60">
											<h4 class="checkout-title" align="center">IMPORTANTE!!</h4>
											<div class="checkout-cart-total" align="justify">
		
												<h4>Política de Cambios y Devoluciones</h4>
												
												<ul>
												<li>Los cambios se aceptan dentro de los 15 días desde el momento en que recibes tu compra. Los gastos ocasionados por motivos ajenos a PRASI corren por cuenta del cliente.</li>
												<li>Tener en consideración que el producto debe ser devuelto sin usar y en el empaque original junto con la boleta emitida.</li>
												<li>En raras ocasiones puede que no seamos capaces de intercambiar un producto debido a que sea un modelo de edición limitada, en este caso lo cambiaremos por un artículo de igual valor.</li>
												<li>IMPORTANTE: Pedidos personalizados y artículos con precio de promoción no pueden ser cambiados o devueltos. NO SE ACEPTAN DEVOLUCIONES</li>
												
												</ul>
												
											</div>
											
								</div>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>