<div class="cart-overlay" id="cart-overlay">
	<div class="cart-overlay-close inactive">
	</div>
	<div class="cart-overlay-content">
		<span class="close-icon" id="cart-close-icon">
			<a href="javascript:void(0)">
				<i class="ion-android-close"></i>
			</a>
		</span>
		<div class="offcanvas-cart-content-container">
			<h3 class="cart-title">Mi carro</h3>
			<div class="cart-product-wrapper">
				<div class="cart-product-container  ps-scroll">
					<div class="single-cart-product" *ngFor="let tix of _uw.car;let i = index" >
						<span class="cart-close-icon">
							<a (click)="remove(i)"><i class="ti-close"></i></a>
						</span>
						<div class="image">
							<a>
								<img src="{{tix.images[0]}}" class="img-fluid" alt="">
							</a>
						</div>
						<div class="content">
							<h5>
								<a >{{tix.productName}}</a>
							</h5>
							<p>
								<span class="cart-count">{{tix.quantity}} x </span> 
								<span class="discounted-price">${{tix.globalPrice}}</span>
							</p>
						</div>
					</div>
				</div>
				<p class="cart-subtotal">
					<span class="subtotal-title">Subtotal:</span>
					<span class="subtotal-amount">${{_uw.subTotal}}</span>
				</p>
				<div class="cart-buttons">
					<a routerLink="prasishopcart">Procesar compra</a>
				</div>
			</div>
		</div>
	</div>
</div>