<app-prasislider></app-prasislider>
<app-prasicategorycarousel></app-prasicategorycarousel>	
<app-prasiproductcatalog></app-prasiproductcatalog>
<app-prasiinstagramfeed></app-prasiinstagramfeed>
<app-prasitopfooter></app-prasitopfooter>	



	<!--=============================================
	=            overlay items         =
	=============================================-->
	
	


	<!--=======  wishlist overlay  =======-->
	
	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->
			
			<span class="close-icon" id="wishlist-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>
			
			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->
			
			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->
						
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="index-trending.html#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/cart-product-image/01.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>
								
							</div>
						</div>
						
						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->
						
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="index-trending.html#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/cart-product-image/02.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dining Chair</a></h5>
								<p><span class="main-price discounted">$300.00</span> <span class="discounted-price">$220.00</span></p>
								
							</div>
						</div>
						
						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->
						
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="index-trending.html#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/cart-product-image/03.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
								<p><span class="main-price discounted">$100.00</span> <span class="discounted-price">$80.00</span></p>
								
							</div>
						</div>
						
						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->
						
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="index-trending.html#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/cart-product-image/01.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Dark Brown Leather Watch</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>
								
							</div>
						</div>
						
						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->
						
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="index-trending.html#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/cart-product-image/02.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="shop-product-basic.html">Creative Wooden Stand</a></h5>
								<p><span class="main-price discounted">$200.00</span> <span class="discounted-price">$180.00</span></p>
								
							</div>
						</div>
						
						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->
					
					<div class="cart-buttons">
						<a href="shop-wishlist.html">view wishlist</a>
					</div>
					
					<!--=======  End of cart buttons  =======-->
				</div>
			</div>
			
			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>
	
	<!--=======  End of wishlist overlay  =======-->

	

	<!--=====  End of overlay items  ======-->

	<!--=============================================
	=            quick view         =
	=============================================-->
	
	<div id="qv-1" class="cd-quick-view">
		<div class="cd-slider-wrapper">
			<ul class="cd-slider">
				<li class="selected"><img src="assets/assetsprasi/images/products/cloth-1-2-600x800.jpg" alt="Product 2"></li>
				<li><img src="assets/assetsprasi/images/products/cloth-1-1-600x800.jpg" alt="Product 1"></li>
			</ul> <!-- cd-slider -->

			<ul class="cd-slider-pagination">
				<li class="active"><a href="index-trending.html#0">1</a></li>
				<li><a href="index-trending.html#1">2</a></li>
			</ul> <!-- cd-slider-pagination -->

			<ul class="cd-slider-navigation">
				<li><a class="cd-prev" href="index-trending.html#0">Prev</a></li>
				<li><a class="cd-next" href="index-trending.html#0">Next</a></li>
			</ul> <!-- cd-slider-navigation -->
		</div> <!-- cd-slider-wrapper -->

		<div class="Prasi-item-info cd-item-info ps-scroll">

			<h2 class="item-title">High Waist Trousers</h2>
			<p class="price">
				<span class="main-price discounted">$360.00</span>
				<span class="discounted-price">$300.00</span>
			</p>
			
			<p class="description">Hurley Dry-Fit Chino Short. Men's chino short. Outseam Length: 19 Dri-FIT Technology helps keep you dry and comfortable. Made with sweat-wicking fabric. Fitted waist with belt loops. Button waist with zip fly provides a classic look and feel .</p>

			<span class="quickview-title">Quantity:</span>
			<div class="pro-qty d-inline-block mb-40">
				<input type="text" value="1">
			</div>

			<div class="add-to-cart-btn mb-25">

				<button class="Prasi-button Prasi-button--medium">add to cart</button>
			</div>

			<div class="quick-view-other-info">
				<table>
					<tr class="single-info">
						<td class="quickview-title">SKU: </td>
						<td class="quickview-value">12345</td>
					</tr>
					<tr class="single-info">
						<td class="quickview-title">Categories: </td>
						<td class="quickview-value">
							<a href="index-trending.html#">Fashion</a>, 
							<a href="index-trending.html#">Men</a>, 
							<a href="index-trending.html#">Sunglasses</a> 
						</td>
					</tr>
					<tr class="single-info">
						<td class="quickview-title">Tags: </td>
						<td class="quickview-value">
							<a href="index-trending.html#">Fashion</a>, 
							<a href="index-trending.html#">Men</a>
						</td>
					</tr>
					<tr class="single-info">
						<td class="quickview-title">Share on: </td>
						<td class="quickview-value">
							<ul class="quickview-social-icons">
								<li><a href="index-trending.html#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="index-trending.html#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="index-trending.html#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="index-trending.html#"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</td>
					</tr>
				</table>
			</div>

			
		</div> <!-- cd-item-info -->
		<a href="index-trending.html#0" class="cd-close">Close</a>
	</div>

	<!--=====  End of quick view  ======-->

	<!-- scroll to top  -->
	<a href="#" class="scroll-top"></a>
	<!-- end of scroll to top -->