<div class="footer-container footer-one pt-100 pb-50" *ngIf="!this._uw.admin">
	<div class="container wide">
		<div class="row">
			<div class="col footer-single-widget">
				<div class="logo">
					<img src="assets/assetsprasi/images/logo.png" class="img-fluid" alt="" style="max-width: 175px;">
				</div>
				<div class="copyright-text">
				<p> &copy; 2020 Prasi.cl 
					<a routerLink="admin">
						<i class="fa fa-key"> Administrar</i>
					</a>
					<span>Derechos Reservados </span>
					<span>Desarrollado por: 
						<a href="http://www.tuw3bsite.com.ve" target="_blank">
							<strong>TuW3bSite &reg;</strong>
						</a>
					</span>
				</p>
				</div>
			</div>
			<div class="col footer-single-widget">
				<h5 class="widget-title">Nuestras Redes sociales</h5>
				<div class="footer-nav-container footer-social-links">
					<nav>
						<ul>
							<li><a href="https://facebook.com/prasicueros" target="_blank"> <i class="fa fa-facebook"></i> Facebook</a></li>
							<li><a href="https://instagram.com/prasicueros" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col footer-single-widget">
				<div class="footer-subscription-widget">
					<h2 class="footer-subscription-title">Subscribete.</h2>
					<p class="subscription-subtitle">Para recibir ofertas.</p>
					<div class="subscription-form">
						<form id="mc-form" class="mc-form">
							<input type="email" placeholder="Tu direccion de correo" required>
							<button type="submit"><i class="ion-ios-arrow-thin-right"></i></button>
						</form>
					</div>
					<div class="mailchimp-alerts">
						<div class="mailchimp-submitting"></div>
						<div class="mailchimp-success"></div>
						<div class="mailchimp-error"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>