	<!--=============================================
	=            instagram image slider         =
	=============================================-->
	
	<div class="instagram-slider-area mb-100">
        <div class="container wide">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <!--=======  instagram intro  =======-->
                    
                    <div class="instagram-section-intro mb-0 mb-lg-0 mb-md-50 mb-sm-50 mb-xs-50 mb-xxs-50">
                        <p><a href="element-instagram.html#">@prasicueros</a></p>
                        <h3>Síguenos en Instagram</h3>
                    </div>
                    
                    <!--=======  End of instagram intro  =======-->
                </div>
                <div class="col-lg-8">
                    <!--=============================================
                    =            instagram image slider         =
                    =============================================-->
                    
                    <div class="instagram-image-area">
                        <!--=======  instagram image container  =======-->
                        
                        <div class="instagram-image-slider-container">
                            <div class="instagram-feed-thumb">
                                <div  id="instafeed" class="instafeed instagram-grid" data-userid="6666969077" data-accesstoken="6666969077.1677ed0.d325f406d94c4dfab939137c5c2cc6c2">
                                </div>
                            </div>
                        </div>
                        
                        <!--=======  End of instagram image container  =======-->
                    </div>
                        
                    <!--=====  End of instagram image slider  ======-->
                </div>
            </div>
        </div>
    </div>
		
	<!--=====  End of instagram image slider  ======-->
